test/maven-plugin-no-persistence-test/src/main/resources/noPersistence.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="ninckblokje.hyperjaxb4.schema.no.persistence"
        targetNamespace="ninckblokje.hyperjaxb4.schema.no.persistence"
        elementFormDefault="qualified"
>

    <xs:complexType name="noPersistenceType">
        <xs:sequence>
            <xs:element name="fieldOne" type="xs:string"/>
            <xs:element name="longFieldNameWithMoreThen30Characters" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="noUnderscoreElement" type="tns:noPersistenceType"/>

</xs:schema>